<!DOCTYPE html>
<html>
<head>
<title> Welcome to My API</title>
  {% if mymap %}
    {{mymap.js}}
  {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
</head>


<body>
	{% if not session.logged_in %}
        <h3> Please log in first, user name and password will be provided</h3>
    	<a href="{{ url_for('login') }}">log in</a>
  	{% else %}
    	<a href="{{ url_for('logout') }}">log out</a>
    <br>
	    <a href="{{ url_for('show_entries') }}">show records for signals</a>
  	{% endif %}

  	{% for message in get_flashed_messages() %}
    	<div class=flash>{{ message }}</div>
  	{% endfor %}


	{% block body %}
	{% endblock %}


</body>
</html>









