{% extends "base.html" %}

{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <p> The user name is **<b>admin</b>**, the password is **<b>default</b>**</p>
  <form action="{{ url_for('login') }}" method=post> {#post method, call login, post#}
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}
